


/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;1,300&family=Andika&family=Josefin+Sans:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Palanquin+Dark&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rufina:wght@400;700&display=swap');



.body::-webkit-scrollbar {
  display: none;
}

hr.rounded {
  border-top: 1px solid #5D5D5D;
  border-radius: 5px;
}

.body {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

.title {
  font-family: 'Rufina', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}

.simpleText {
  font-family: 'Open Sans', sans-serif;
  font-size: "12px";
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}

.simpleTextFromal {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.simpleTextImpact {
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

td
{
 max-width: 150px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
} */
 


@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Bree+Serif&family=DM+Sans:ital,wght@0,500;0,700;1,400;1,500;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Questrial&family=Quicksand:wght@300;400;500;600;700&family=Sacramento&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Arapey', serif;                         Bem Vindo
font-family: 'Bree Serif', serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif;         Texto simples
font-family: 'Questrial', sans-serif;                 Texto simples
font-family: 'Quicksand', sans-serif;                 Texto simples
font-family: 'Sacramento', cursive;                   Agradecimentos
font-family: 'Varela Round', sans-serif;              Text simples título
font-family: 'Montserrat', sans-serif;                  Texto simples @tavio
*/

.body::-webkit-scrollbar {
  display: none;
}

.vl {
  border-left: 1px solid #08ad3f;
  min-height: 200px;
}